In [1]:
import numpy as np
import pandas as pd

# Problem-1

In [2]:
def sep_matrix(arr,cols):
    l=[]
    names=[]
    for x in arr:
        #print(x,'-->>',end='')
        l1=[]
        for i in range(0,cols):
            #print(x**i,end=' ')
            l1.append(x**i)
        #print()
        l.append(l1)
    return pd.concat([pd.DataFrame(arr),pd.DataFrame(l)],axis=1)

In [3]:
df=sep_matrix(np.array([1,2,3,4,5]),4)
df

   0  0  1   2    3
0  1  1  1   1    1
1  2  1  2   4    8
2  3  1  3   9   27
3  4  1  4  16   64
4  5  1  5  25  125

In [4]:
sep_matrix(np.array([1,2,3,4,5]),9)

   0  0  1   2    3    4     5      6      7       8
0  1  1  1   1    1    1     1      1      1       1
1  2  1  2   4    8   16    32     64    128     256
2  3  1  3   9   27   81   243    729   2187    6561
3  4  1  4  16   64  256  1024   4096  16384   65536
4  5  1  5  25  125  625  3125  15625  78125  390625

# Problem-2

In [5]:
def sep_avg(arr,k):
    for i in range(len(arr)-k+1):
        s1=0
        for j in range(k):
            s1+=arr[i+j]
        print(s1/k)

In [6]:
sep_avg(np.array([10,20,30,40,50,60,70,80,90,100]),4)

25.0
35.0
45.0
55.0
65.0
75.0
85.0

In [7]:
sep_avg(np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]),3)

5.0
4.666666666666667
5.666666666666667
6.666666666666667
9.666666666666666
28.666666666666668
49.333333333333336
72.66666666666667
84.0
93.33333333333333
116.33333333333333